In [ ]:
import pandas as pd

In [20]:
df = pd.read_csv("C:/Program Files/python 3.9/amazon_electronics_datas.csv")

In [21]:
df.head()

,Name,Clean Name,Short Name,Summary Name,Price (₹),Original Price (₹),Discount (%),Rating,Reviews,Sold Last Month,url
0,ACwO DwOTS 121 Wireless Earbuds | 55Hrs Playti...,ACwO DwOTS 121 Wireless Earbuds 55Hrs Playtim...,ACwO DwOTS 121 Wireless Earbuds 55Hrs,Acwo Earbuds,949.0,3599.0,74.0,NaN,NaN,NaN,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,TOZO A1 Mini Wireless Earbuds Bluetooth 5.3 in...,TOZO A1 Mini Wireless Earbuds Bluetooth 53 in ...,TOZO A1 Mini Wireless Earbuds Bluetooth,Tozo Earbuds case,1590.0,6999.0,77.0,4.2,6707.0,NaN,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,"Ambrane Extension Board, 10 Ports with 4 USB P...",Ambrane Extension Board 10 Ports with 4 USB Po...,Ambrane Extension Board 10 Ports with,Ambrane,699.0,1499.0,53.0,3.9,92.0,100.0,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Portronics Beem 440 Smart LED Projector with 7...,Portronics Beem 440 Smart LED Projector with 7...,Portronics Beem 440 Smart LED Projector,Portronics,6799.0,19999.0,66.0,4.0,1570.0,500.0,https://www.amazon.in/Portronics-Projector-Res...
4,Portronics Ruffpad 8.5E Re-Writable LCD Writin...,Portronics Ruffpad 85E ReWritable LCD Writing ...,Portronics Ruffpad 85E ReWritable LCD Writing,Portronics,199.0,799.0,75.0,4.0,7521.0,3.0,https://www.amazon.in/Portronics-Ruffpad-Re-Wr...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3030 entries, 0 to 3029
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                3026 non-null   object
 1   Clean Name          3026 non-null   object
 2   Short Name          3026 non-null   object
 3   Summary Name        3026 non-null   object
 4   Price (₹)           2972 non-null   float64
 5   Original Price (₹)  2888 non-null   float64
 6   Discount (%)        2902 non-null   float64
 7   Rating              2888 non-null   float64
 8   Reviews             2888 non-null   float64
 9   Sold Last Month     1570 non-null   float64
 10  url                 3026 non-null   object
dtypes: float64(6), object(5)
memory usage: 260.5+ KB

In [23]:
df.describe()

,Price (₹),Original Price (₹),Discount (%),Rating,Reviews,Sold Last Month
count,2972.000000,2.888000e+03,2902.000000,2888.000000,2888.000000,1570.000000
mean,2307.433378,8.044449e+03,54.593384,3.980575,5392.680055,153.936943
std,5958.896177,4.168107e+04,20.728529,0.443082,23157.890117,204.987501
min,1.000000,0.000000e+00,1.000000,1.000000,1.000000,0.000000
25%,299.000000,7.552500e+02,42.000000,3.800000,48.000000,3.000000
50%,599.000000,1.499000e+03,57.000000,4.000000,380.000000,50.000000
75%,1519.000000,4.449000e+03,70.000000,4.200000,2075.750000,200.000000
max,76998.000000,1.608900e+06,333.000000,5.000000,416654.000000,900.000000

In [24]:
df.isnull().sum()

Name                     4
Clean Name               4
Short Name               4
Summary Name             4
Price (₹)               58
Original Price (₹)     142
Discount (%)           128
Rating                 142
Reviews                142
Sold Last Month       1460
url                      4
dtype: int64

In [25]:
# Drop rows where all important fields are missing
df = df.dropna(subset=["Name"])

In [26]:
df.isnull().sum()

Name                     0
Clean Name               0
Short Name               0
Summary Name             0
Price (₹)               58
Original Price (₹)     142
Discount (%)           128
Rating                 142
Reviews                142
Sold Last Month       1460
url                      0
dtype: int64

In [27]:
# Fill missing ratings with average
df["Rating"].fillna(df["Rating"].mean(), inplace=True)

# Fill Reviews with 0 where missing
df["Reviews"].fillna(0, inplace=True)

# Fill Discount where calculable
mask = df["Discount (%)"].isna() & df["Price (₹)"].notna() & df["Original Price (₹)"].notna()
df.loc[mask, "Discount (%)"] = ((df.loc[mask, "Original Price (₹)"] - df.loc[mask, "Price (₹)"]) / df.loc[mask, "Original Price (₹)"]) * 100

# Clean any remaining missing price values
df.dropna(subset=["Price (₹)"], inplace=True)

# Fill Sold Last Month with 0 or rescrape
df["Sold Last Month"].fillna(0, inplace=True)

# Reset index after cleaning
df.reset_index(drop=True, inplace=True)

C:\Users\JDPK\AppData\Local\Temp\ipykernel_20816\813496068.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(df["Rating"].mean(), inplace=True)
C:\Users\JDPK\AppData\Local\Temp\ipykernel_20816\813496068.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Reviews"].fillna(0, inplace=True)
C:\Users\JDPK\AppData\Local\Temp\ipykernel_20816\813496068.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Sold Last Month"].fillna(0, inplace=True)

In [29]:
# Fill missing original price with price (₹) as fallback
df['Original Price (₹)'].fillna(df['Price (₹)'], inplace=True)

# Fill missing discount with 0%
df['Discount (%)'].fillna(0, inplace=True)

C:\Users\JDPK\AppData\Local\Temp\ipykernel_20816\4237196472.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Original Price (₹)'].fillna(df['Price (₹)'], inplace=True)
C:\Users\JDPK\AppData\Local\Temp\ipykernel_20816\4237196472.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount (%)'].fillna(0, inplace=True)